@import "tailwindcss";
/* Preline UI */
@source "../../node_modules/preline/dist/*.js";
@import "../../node_modules/preline/variants.css";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@import "../theme/theme.css";
@import "../theme/cashmere.css";